---
Checks: '
-altera-*,
bugprone-*,
clang-analyzer-*,
cppcoreguidelines-*,
modernize-*,
-modernize-use-trailing-return-type,
readability-*,
-readability-avoid-const-params-in-decls,
-readability-redundant-access-specifiers,
-readability-redundant-inline-specifier,
-cppcoreguidelines-avoid-non-const-global-variables,
'
WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 25
  - key: readability-identifier-length.MinLength
    value: 3
  - key: readability-identifier-length.IgnoredVariableNames
    value: '^(ex?|[ijkv])$'
  - key: readability-identifier-length.IgnoredParameterNames
    value: '^[kv]$'
